/* container */

.learn_container {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 100px;
}

.learn_container .learn_head {
    width: 1300px;
    margin: 0 auto;
    animation: .9s fromTop;
}

.learn_container .learn_head h4 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.learn_container .learn_head h4 span {
    color: #FFD235;
}

.learn_container .learn_head p {
    font-size: 18px;
    color: #888888;
}

/* body */

.learn_container .learn_body {
    width: 1300px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* keyframes */

@keyframes fromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* responsive */

@media screen and (max-width: 1320px) {

    .learn_container {
        margin-top: 100px;
    }
    

    .learn_container .learn_head {
        width: 900px;
    }

    .learn_container .learn_head h4 {
        font-size: 26px;
    }

    .learn_container .learn_body {
        width: 900px;
    }

    .learn_container .learn_body .learn_card{
        width: 450px;
    }

}

@media screen and (max-width: 920px) {

    .learn_container .learn_head {
        width: 600px;
    }

    .learn_container .learn_body {
        width: 600px;
    }

    .learn_container .learn_body .learn_card{
        width: 100%;
    }

}

@media screen and (max-width: 620px) {

    .learn_container .learn_head {
        width: 100%;
        padding: 10px;
    }

    .learn_container .learn_body {
        width: 100%;
    }

}