@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #121214;
}

body {
    width: 100%;
    background: var(--background);
}

body,
html {
    overflow-x: hidden !important;
}

*::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 3px;
  height: 0;
  background-color: var(--background);
  overflow: visible;
}

*::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: #f73b91;
}

*::-webkit-scrollbar-button, *::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}
