.backend {
  --color: #3BF79D;
}

.frontend {
  --color: #1200E2;
}

.design {
  --color: #FF35D3;
}

.fullstack {
  --color: #FFD235;
}

.iot {
  --color: #FF3535;
}

.datascience {
  --color: #FF7E35;
}

.item .card {
  border: 2px solid #222;
  border-radius: 10px;
  overflow: hidden;
  transition: border .3s ease;
}

.item .card:hover {
  border: 2px solid #2f2f2f;
}

.item .card .header .bg {
  height: 90px;
  background-color: var(--color);
}

.item .card .header .infos {
  padding: 10px;
  margin-top: -65px;
}

.item .card .header .infos .flex {
  display: flex;
  align-items: center;
}

.item .card .header .infos .flex .person {
  margin-left: 10px;
  margin-top: -10px;
}

.item .card .header .infos .flex .person h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
  text-transform: initial;
}

.item .card .header .infos .flex .person h4::first-letter {
  text-transform: uppercase;
}

.item .card .header .infos .flex .person p {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
  padding: 0;
}

.item .card .header .infos .flex .person p:nth-child(3) {
  color: #888888;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.item .card .header .infos .flex .img img {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  border: 4px solid var(--color);
}

.item .card .header .infos p {
  color: #888;
  font-size: 14px;
  margin-top: 15px;
  padding: 0 5px;
}

.item .card .content {
  padding: 0 15px 15px;
}

.item .card .content .knowledge ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.item .card .content .knowledge ul li {
  list-style: none;
  padding: 5px 10px;
  background-color: #222;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.item .card .content .contact {
  margin-top: 20px;
}

.item .card .content .contact h4 {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.item .card .content .contact .buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.item .card .content .contact .buttons button {
  color: #fff;
  cursor: pointer;
  font-size: 26px;
}

.instagram {
  color: #F9782B !important;
}

.twitch {
  color: #A970FF !important;
}

.facebook {
  color: #0080FF !important;
}

.linkedin {
  color: #0A66C2 !important;
}

/*
** Novos estilos
*/

.item .card {
  border: 2px solid #222;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s all ease;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.item .card:hover {
  border: 2px solid #2f2f2f;
}

.item .card .header {
  position: relative;
}

.item .card .header .bg {
  width: calc(100% - 4px);
  height: 90px;
  background-color: var(--color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -99;
}

.item .card .header .actions {
  position: absolute;
  top: 4.5px;
  right: 4.5px;
}

.item .card .header .actions ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4.5px;
  list-style: none;
}

.item .card .header .actions ul li {
  background-color: rgba(0, 0, 0, .4);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item .card .header .actions ul li button {
  cursor: pointer;
}

.item .card .header .actions ul li button img {
  width: 48px;
  height: 48px;

  position: absolute;
  top: -25%;
  left: -25%;
  transform: translate(5%, 5%);
}

.item .card .header .infos {
  margin-top: 18px;
  padding-top: 18px;
}

.item .card .header .infos .flex {
  display: flex;
  align-items: center;
}

.item .card .header .infos .flex .person {
  margin-left: 10px;
  margin-top: -10px;
}

.item .card .header .infos .flex .person h4 {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
  margin-top: 32px;
  text-transform: initial;
}

.item .card .header .infos .flex .person h4::first-letter {
  text-transform: uppercase;
}

.item .card .header .infos .flex .person .full-name {
  display: flex;
  align-items: center;
}

.item .card .header .infos .flex .person .full-name svg {
  margin-left: 4.5px;
}

.item .card .header .infos .flex .person p {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
  padding: 0;
}

.item .card .header .infos .flex .person p:nth-child(3) {
  color: #888888;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.item .card .header .infos .flex .img {
  position: relative;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  width: 83px;
  height: 83px;
}

.item .card .header .infos .flex .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid var(--color);
  object-fit: cover;
}

.item .card .header .infos p {
  color: #888;
  font-size: 14px;
  margin-top: 15px;
  padding: 0 5px;
}

.item .card .header .resume {
  position: absolute;
  top: 96px;
  right: 4.5px;
}

.item .card .header .resume svg {
  transform: rotate(180deg);
}

.item .card .header .resume button {
  cursor: pointer;
}

.item .card .content {
  padding: 0 15px 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item .card .content .knowledge {
  padding-bottom: 4.5px;
}

.item .card .content .knowledge ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.item .card .content .knowledge ul li {
  flex: 0 0 calc(33.3% - 12px);
  list-style: none;
  padding: 6px 12px;
  background-color: #222;
  border-radius: 3px;
  color: #fff;
  font-size: .775em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.item .card .content .knowledge ul li.knowledge-node-js {
  background-color: rgba(102, 181, 68, .4);
  border: 1px solid rgba(102, 181, 68, 1);
}

.item .card .content .knowledge ul li.knowledge-typescript {
  background-color: rgba(47, 114, 188, .4);
  border: 1px solid rgba(47, 114, 188, 1);
}

.item .card .content .knowledge ul li.knowledge-vue-js {
  background-color: rgba(62, 174, 124, .4);
  border: 1px solid rgba(62, 174, 124, 1);
}

.item .card .content .knowledge ul li.knowledge-nestjs {
  background-color: rgba(214, 33, 74, .4);
  border: 1px solid rgba(214, 33, 74, 1);
}

.item .card .content .knowledge ul li.knowledge-html5 {
  background-color: rgba(231, 100, 41, .4);
  border: 1px solid rgba(231, 100, 41, 1);
}

.item .card .content .knowledge ul li.knowledge-sql {
  background-color: rgba(242, 169, 0, .4);
  border: 1px solid rgba(242, 169, 0, 1);
}

.item .card .content .knowledge ul li.knowledge-python {
  background-color: rgba(50, 97, 136, .4);
  border: 1px solid rgba(50, 97, 136, 1);
}

.item .card .content .knowledge ul li.knowledge-laravel {
  background-color: rgba(242, 43, 29, .4);
  border: 1px solid rgba(242, 43, 29, 1);
}

.item .card .content .knowledge ul li.knowledge-nuxt-js {
  background-color: rgba(16, 128, 111, .4);
  border: 1px solid rgba(16, 128, 111, 1);
}

.item .card .content .knowledge ul li.knowledge-mongodb {
  background-color: rgba(15, 162, 76, .4);
  border: 1px solid rgba(15, 162, 76, 1);
}

.item .card .content .knowledge ul li.knowledge-csharp {
  background-color: rgba(141, 58, 163, .4);
  border: 1px solid rgba(141, 58, 163, 1);
}

.item .card .content .knowledge ul li.knowledge-vb-net {
  background: rgba(98, 41, 116, .4);
  border: 1px solid rgba(98, 41, 116, 1);
}

.item .card .content .knowledge ul li.knowledge-javascript {
  background: rgba(239, 216, 29, .4);
  border: 1px solid rgba(239, 216, 29, 1);
}

.item .card .content .knowledge ul li.knowledge--net {
  background: rgba(0, 143, 210, .4);
  border: 1px solid rgba(0, 143, 210, 1);
}

.item .card .content .knowledge ul li.knowledge-asp-net {
  background: rgba(23, 87, 155, .4);
  border: 1px solid rgba(23, 87, 155, 1);
}

.item .card .content .knowledge ul li.knowledge-flutter {
  background: rgba(101, 177, 241, .4);
  border: 1px solid rgba(101, 177, 241, 1);
}

.item .card .content .knowledge ul li.knowledge-sql-server {
  flex: 0 0 120px;
  background: rgba(144, 156, 169, .4);
  border: 1px solid rgba(144, 156, 169, 1);
}

.item .card .content .knowledge ul li.knowledge-electronic {
  background: rgba(230, 173, 87, .4);
  border: 1px solid rgba(230, 173, 87, 1);
}

.item .card .content .contact {
  margin-top: 20px;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.item .card .content .contact::before {
  content: '';
  border: 1px solid #242424;
  width: 100%;
  margin-bottom: 9px;
}

.item .card .content .contact::before {
  content: '';
  border: 1px solid #242424;
  width: 100%;
  margin-bottom: 9px;
  transition: border .3s ease;
}

.item .card:hover .content .contact::before {
  content: '';
  border: 1px solid #2f2f2f;
  width: 100%;
  margin-bottom: 9px;
}

.item .card .content .contact h4 {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.item .card .content .contact .buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.item .card .content .contact .buttons button {
  color: #fff;
  cursor: pointer;
  font-size: 26px;
}

.instagram {
  background: linear-gradient(to bottom, #f7752f 0%,#bf2a9f 100%);
  background-clip: text;
  -webkit-text-fill-color:transparent;
}

.twitch {
  color: #a970ff !important;
}

.facebook {
  color: #0080ff !important;
}

.linkedin {
  color: #0a66c2 !important;
}
